.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
config/mailer_daemon.yml
public/uploads/**/*
public/topics
public/topics/**/*
.redcar
.DS_Store
*.swp
*.swo
vendor/ruby
doc/wiki_repo
solr/data/
solr/pids/
bin/
tags
nohup.out
